body {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  font-family: $Open-Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
  color: $dark-blue;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  box-sizing: border-box;


  @media (min-width: $tablet-width) {
    width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

.button {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 auto 15px;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
}

.button-form {
  display: block;
  width: 280px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #2aab6d;
  color: $white;
}
