$Open-Sans: "Open-Sans","Arial", sans-serif;

$dark-blue: #283645;

$white: #ffffff;

$black: #000000;

$light-red: #d22856;

$dark-white: #f2f2f2;

$darken-blue: #1d2631;

$light-pink: #d63963;

$lighten-pink: #d53e67;

$light-grey: #e9ebec;

$tablet-width: 660px;

$desktop-width: 1200px;

$light-blue: #485461;
