.analysis {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.analysis__name {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: $black;
  margin: 0;
  padding: 0;
  width: 172px;
  margin: 0;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    width: 320px;
  }
}

.analysis__description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  width: 296px;
  margin-top: 10px;
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
    width: 518px;
    padding-bottom: 20px;

  }
}

.analysis__link {
  margin: 0;
  margin-left: auto;
  text-decoration: underline;
  color: $light-red;
  margin-right: 71px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.analysis__item {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  width: 660px;
  margin: 0 auto;
  margin-top: -1px;

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.analysis__svg {
  height: 280px;

  @media (min-width: $desktop-width) {
    position: absolute;
    height: 345px;
    left: 2px;
    bottom: 67px;
  }
}

.analysis__item--wrapper {
  margin-left: 48px;
  padding-right: 35px;
  margin-top: 38px;

  @media (min-width: $desktop-width) {
    margin-left: 42px;
    margin-top: 62px;
    margin-bottom: 114px;

  }
}
