.comment__author {
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.comment__item {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.comment__information-author {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 2px;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.comment__description {
  width: 281px;
  text-align: center;
  margin: 0;
  line-height: 30px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    width: 105%;
    font-size: 18px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 92%;
  }
}

.comment__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    padding-top: 19px;
  }
}

.comment {
  position: relative;
  padding-bottom: 89px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 67px;
  }
}

.comment-slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 38%;

  @media (min-width: $tablet-width) {
    top: 91%;
    left: 44%;
  }
}

.comment__wrapper {
  padding-top: 34px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
  }
}
