.contest__fieldset {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border: 2px solid #e5e5e5;
    width: 619px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 15px 0;
    width: 100%;
  }
}

.contest__fieldset--emotion {
  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }
}

.contest__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contest__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contest__list--application {

  @media (min-width: $tablet-width) {
    margin-top: 9px;
    padding-bottom: 12px;
  }

}

.contest__label {
  line-height: 30px;
  font-size: 18px;
  color: #283645;
  cursor: pointer;
  position: relative;
}


.contest__label-item {
  line-height: 30px;
  font-size: 14px;
  margin-left: 21px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
    margin-left: 0;
  }
}

.contest__item {
  display: block;
  width: 280px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  padding-left: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 621px;
    padding-left: 0;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contest__item--name {

  @media (min-width: $tablet-width) {
    width: 629px;
  }
}

.contest__label-item--information {
  padding-left: 20px;
  padding-top: 2px;
  box-sizing: border-box;
}

.contest__item--number {
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 3px;
    width: 586px;
    padding-left: 27px;
    margin-bottom: 25px;
  }
}

.contest__input--email {}

.contest__item--email {
  @media (min-width: $tablet-width) {
    width: 586px;
    margin-bottom: 27px;
    flex-direction: column-reverse;
    padding-left: 27px;
  }

}


.contest__input {
  width: 278px;
  box-sizing: border-box;
  height: 63px;
  padding-right: 15px;
  margin-bottom: 18px;
  margin-top: 5px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 19px;

  @media (min-width: $tablet-width) {
    width: 90%;
    margin-bottom: 8px;
  }
}

.contest__input::placeholder {
  color: #283645;
}


.contest__description {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 500px;
    margin-top: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-bottom: 30px;
  }
}


.contest__filled-form {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.contest__legend {
  padding: 36px 35px 0;
  margin: 0 auto;
  padding-top: 39px;
  line-height: 18px;
  color: $light-red;
  text-align: center;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding-right: 26px;
    padding-left: 25px;
    box-sizing: border-box;
    padding-top: 3px;
  }
}

.contest__legend--application {
  margin-bottom: 20px;
  margin: 0 0 41px;
}

.contest__checkbox {
  display: none;
}

.contest__checkbox+.contest__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -59px;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid #e5e5e5;
}

.contest__checkbox:checked+.contest__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: -50px;
  width: 20px;
  height: 8px;
  border-bottom: 2px solid #d22856;
  border-left: 2px solid #d22856;
  transform: rotate(-45deg);
}

.contest__legend--information {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    padding-right: 26px;
    padding-left: 25px;
  }
}

.contest__legend--emotion {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.contest__item-wrapper {
  margin-top: 10px;
}

.contest__fieldset--application {
  margin-bottom: 52px;
}

.contest__fieldset-wrapper {
  background-color: #f2f2f2;
  margin-top: 23px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    margin-top: 9px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.contest__list--journey {
  @media (min-width: $tablet-width) {
    margin-top: 29px;
    padding-left: 38px;
    box-sizing: border-box;
  }
}

.contest__fieldset-wrapper-nogrey {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contest__fieldset--journey {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
  }
}

.contest__radio {
  display: none;
}

.contest__radio+.contest__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -1px;
  width: 35px;
  height: 35px;
  background: $white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest__radio:checked+.contest__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

.contest__fieldset-wrapper--application {
  padding-bottom: 3px;
}

.contest__label--radio {
  padding-left: 59px;
}

.contest__item--radio {
  padding: 18px 58px 14px;
  padding-top: 0;
  margin-bottom: 32px;
}

.contest__textarea {
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  outline: none;
  min-height: 200px;
  resize: none;
  margin: 0 auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 17px;
  width: 283px;

  @media (min-width: $tablet-width) {
    width: 500px;
    min-height: 195px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.contest__textarea::placeholder {
  color: #283645;
}

.contest__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;


  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-top: 48px;
  }
}

.contest__button {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.contest__explain--star {
  color: $light-red;
}

.contest__explain {
  margin-top: 37px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.submit-poppup__close-button {
  margin-top: 20px;
}

.contest__fieldset-wrapper--information {

  @media (min-width: $tablet-width) {
    order: -3;
  }
}

.contest__fieldset--name {
  @media (min-width: $tablet-width) {
    order: -5;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contest__fieldset--application {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contest__fieldset-wrapper--name {
  @media (min-width: $tablet-width) {
    order: -5;
  }

  @media (min-width: $desktop-width) {
    width: 50%
  }
}

.contest__fieldset-wrapper--application {
  @media (min-width: $tablet-width) {
    order: -4;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contest__fieldset-wrapper--journey {
  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.contest__svg {
  fill: $light-red;
}

.contest__svg-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 62px;
    background-color: #e5e5e5;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 57px;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    right: 41px;
  }
}

.contest__svg-wrapper--email {
  right: 57px;
  height: 60px;
}

.contest__item-wrapper {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 587px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.contest__list-item--shark {
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    order: 0;
    margin-top: 0;
  }
}

.contest__list-item--beach {
  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.contest__list-item--shack {
  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.contest__list-item--souvenir {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.contest__list-item--turret {
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.contest__list-item--hotel {
  margin-top: 48px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.contest__info {
  padding-top: 25px;
  line-height: 30px;
}

.contest__label--inner {
  @media (min-width: $tablet-width) {
    padding-top: 1px;
    display: block;
  }
}

.contest__form {
  margin-top: 35px;
}

.contest__list-item {
  padding-left: 79px;
  margin-bottom: 5px;
  position: relative;
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 52px;
  }

}
