.contacts__wrapper {
  padding: 40px 20px 0;
  text-align: center;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.contacts__header {
  margin: 0 0 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-left: 57px;
    padding-right: 56px;
    margin-top: 5px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    margin-top: 2px;
    padding-right: 23px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.contacts__info {
  margin: 0;
  color: $light-red;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    line-height: 27px;
    padding-left: 3px;
  }
}

.contacts__item {
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-right: 0;
    margin-bottom: 36px;
  }
}

.contacts__item--email {
  padding-left: 4px;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__info--number {
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
  }
}

.contest__info--email {
  padding-left: 2px;
}

.contacts__title--email {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    margin-top: 3px;
    margin-left: 25px;
  }
}

.contacts__title--number {
  @media (mix-widt: $tablet-width) {
    padding-right: 24px;
  }
}

.contacts__info--address {
  margin-top: 5px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    padding-left: 9px;
    padding-right: 20px;
  }
}

.contacts__title--address {
  @media (min-width: $tablet-width) {
    padding-right: 7px;
  }
}

.contacts__item--address {
  @media(min-width: $tablet-width) {
    margin: 0 auto 30px;
    padding-top: 5px;
  }
}
