.contacts__wrapper {
  padding: 40px 20px 0;
  text-align: center;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.contacts__header {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-left: 96px;
    padding-right: 56px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.contacts__info {
  margin: 0;
  color: $light-red;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.contacts__item {
  margin-bottom: 25px;
  box-sizing: border-box;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 46%;
  }
}

.contacts__item--email {

  @media (min-width: $desktop-width) {
    order: 1;
  }

}
