.features__slogan {
  font-size: 24px;
  color: $dark-blue;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--one {
    margin-bottom: 20px;
    display: block;
  }

  &--two {
    display: block;
    padding-top: 10px;
  }

  @media(min-width: $tablet-width) {
    font-size: 40px;
    line-height: 30px;
  }

  @media(min-width: $desktop-width) {
    font-size: 50px;
    line-height: 40px;
  }
}

.features__slogan--two {
  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}


.features__list {
  list-style: none;
  background-color: $dark-white;
  margin: 0;
  padding: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;

  @media(min-width: $desktop-width) {
    flex-direction: row;
  }
}

.features__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.features__info {
  width: 281px;
  padding-left: 10px;
  padding-right: 10px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;


  @media(min-width: $desktop-width) {
    margin-right: auto;
  }
}


.features__item--img::after {

  content: "";
  display: block;
  height: 330px;
  width: 150px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.features__list::after {

  @media (min-width: $tablet-width) {
    content: "";
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    width: 282px;
    height: 514px;
    left: 0;
    top: 12px;
  }
}
