.page-header {


    @media (min-width: $desktop-width) {
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
}

.page-header__logo-svg {
  padding-left: 20px;
}

.page-header__logo {
  margin-right: auto;
}

.page-header__сontainer {

  @media (min-width: $desktop-width) {
  display: flex;
  align-items: center;
  padding: 48px 0;
}
  }
