.page-header--index {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.page-header {
  background-color: #1d2631;
}

.page-header__logo-svg {
  padding-left: 20px;
}
