.page-header {
  background-color: $darken-blue;
  position: relative;
}

.page-header__logo-svg {
  padding-left: 20px;
}

.page-header__logo {
  margin-right: auto;
}

.page-header__сontainer {

  @media (min-width: $desktop-width) {
  display: flex;
  align-items: center;
  padding: 48px 0;
}
  }
