.main-nav {
  font-size: 18px;
  line-height: 32px;
  background-color: $dark-blue;
    min-height: 51px;

    &--nojs {
      .main-nav__list {
        position: static;
      }
    }


  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav__toggle {
position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    height: 66px;
    background-color: red;
    border: none;
    background-color: black;

    &--closed {
      background-color: blue;
    }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;


@media (min-width: $desktop-width) {
  display: flex;
  position: static;
}
  &--open {
    display: block;

    @media (min-width: $desktop-width) {
  display: flex;
  position: static;
}
  }
}


