.main-nav {
  font-size: 18px;
  line-height: 32px;
  background-color: $dark-blue;

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      position: static;
      display: block;
    }
  }

  &--open {
    display: block;

    .main-nav__list {
      display: block;
      margin-top: 13px;
    }
  }


  @media (min-width: $desktop-width) {
    background-color: transparent;
    display: flex;
    position: static;
  }
}

.main-nav__list {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  left: 0;
  z-index: 1;


  @media (min-width: $desktop-width) {
    display: flex;
    position: static;
  }

  &--open {
    display: block;
    z-index: 2;

    @media (min-width: $desktop-width) {
      display: flex;
      position: static;
    }
  }
}


.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;

  @media (min-width: $tablet-width) {
    top: 19px;
  }
}


.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;


  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle--open {
  top: 22px;
  right: -4px;
}

.main-nav__toggle--open::before {
  transform: rotate(45deg);
}

.main-nav__toggle--open::after {
  transform: rotate(-45deg);
}

.main-nav__toggle--open::after,
.main-nav__toggle--open::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 19px;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background-color: $white;
  box-shadow: none;
}

.main-nav__list {
  display: none;
  top: 56px;
  left: 0;
  position: absolute;
  right: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    position: static;
  }

  &--open {
    display: block;
    z-index: 2;

    @media (min-width: $desktop-width) {
      display: flex;
      position: static;
    }
  }
}
