.page-footer {
  padding: 10px;
  padding-left: 75px;
  padding-right: 74px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

   @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__developers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__logo-developers {
  fill: $light-pink;
  width: 27px;
  padding-top: 10px;
}


