.page-intro {

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

}

.page-intro__button {
  text-align: center;
  display: inline-block;
  color: $white;
  font-size: 18px;
  line-height: 18px;
  border-radius: 25px;
  border: 3px solid $white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-intro__list {
  margin: 10px;
}

.page-intro__info {
  font-weight: 400;
  color: $white;
  text-align: center;
  padding: 5px;
  width: 300px;
  margin: 0;
}

.page-intro__header {
  display: none;
  font-weight: 300;
  font-size: 40px;
  color: $white;
  line-height: 35px;

  @media(min-width: $tablet-width) {
    display: inline-block;
    width: 240px;
    text-align: center;
    position: absolute;
    left: 54px;
    top: 119px;
  }
}

.page-intro__wrapper {
  width: 100%;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    bottom: 259px;
    left: -187px;
    position: absolute;
  }
}
