.page-header {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;

  &--nojs {
    position: static;
    background-color: $dark-blue;
  }

  &--open {
    background-color: $dark-blue;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.page-header__logo-svg {
  box-sizing: border-box;
}

.page-header__image {
  fill: white;
  position: relative;
  right: 51px;
  top: 5px;
}

.page-header__logo {
  padding: 0 0 22px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-left: 72px;
  }
}

.page-header__сontainer {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding: 48px 20px;
    box-sizing: border-box;
  }
}

.page-header--open {
  background-color: #283645;
}
