.page-footer {
  padding: 10px;
  padding-left: 75px;
  padding-right: 74px;
}

.page-footer__developers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__logo-developers {
  fill: #d63963;
  width: 27px;
  padding-top: 10px;
}
