.panorama {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panorama__picture-wrapper::before {
  position: absolute;
  top: 0;
  right: 6%;
  content: "панорама дня";
  padding-left: 19px;
  padding-right: 21px;
  height: 36px;
  letter-spacing: 0.4px;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(210, 40, 86);
  z-index: 2;

  @media (min-width: $desktop-width) {
    top: 57px;
    right: 20px;
  }
}

.panorama__picture {
  position: relative;
  width: 100%;
  height: auto;
}

.panorama__comment {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.panorama__wrapper {
  background-color: $dark-white;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 280px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 10px 27px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.panorama__picture-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
}

.panorama__username {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.pamorama__username-wrapper {
  align-items: center;
  display: flex;
}

.panorama__but-like {
  display: flex;
  align-items: flex-end;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.panorama__activity {
  margin: 0;
  padding-left: 3px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.panorama__comment {
  margin: 0;
}
