.photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 0 21px;
  }

    &--day {
    @media (min-width: $tablet-width) {
      width: 100%
    }
  }
}

.photo-list__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
