.photo__description {
  padding: 10px;
  padding-left: 38px;
  padding-right: 38px;

  @media(min-width: $desktop-width) {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 400px;
    padding-right: 400px;
  }

  @media(min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
  }

}

.photo__wrapper {
  background-color: $dark-white;
  padding: 10px;
  width: 280px;
  box-sizing: border-box;
  flex-grow: 1;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

  }
}

.photo-wrapper--day {
  width: 100%;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.photo__username {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.photo__activity {
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.photo__username-wrapper {
  align-items: center;
  display: flex;
}

.photo__comment {
  padding: 0;
  margin: 0;
}

.photo__like {
  margin: 0;
  padding: 0;
  color: $light-red;
}

.photo__button-and-like {
  display: flex;
  flex-direction: row;
  margin-top: auto;

  @media(min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.photo__like-button {
  background: 0 0;
  border: 0;

  @media(min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.photo__heart {
  fill: $lighten-pink;
}
