.price-slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 53%;
  bottom: 53px;
  transform: translateX(-50px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 102px;

  @media (min-width: $tablet-width) {
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    padding-bottom: 95px;
  }
}

.price__table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    transform: none;
    margin-left: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 73px;
    width: 942px;
  }
}

.price__title {
  box-sizing: border-box;
  min-width: 277px;
  padding: 10px;
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background: #283645;
  border: 2px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 6px;
    min-width: 0;
    height: 80px;
    font-size: 16px;
    padding-top: 7px;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    height: 100px;
    padding-top: 0px;
    padding-left: 7px;
  }
}

.price__cost {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.price__name--hit {
  position: relative;
}

.price__name--hit:before {
  content: "ХИТ";
  z-index: 1;
  position: absolute;
  top: 13px;
  left: 6px;
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);

  @media (min-width: $tablet-width) {
    top: 2px;
    left: 6px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: 11px;
  }
}

.price__name--hit::after {
  content: "";
  position: absolute;
  top: -37px;
  left: -44px;
  width: 42px;
  height: 30px;
  transform: rotate(-45deg);
  background-color: transparent;
  border-style: solid;
  border-width: 27px;
  border-color: transparent transparent $light-red;

  @media (min-width: $tablet-width) {
    top: -42px;
    left: -41px;
    width: 28px;
    height: 29px;
    border-width: 27px;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: -54px;
    width: 44px;
    height: 57px;
    border-width: 27px;
  }
}

.price__row--name {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 30px;
    background-color: $white;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    width: 140px;
    padding: 7px 15px;
    padding-left: 12px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-bottom: 7px;
    font-size: 18px;
    width: 100px;
    height: 60px;
    padding-left: 20px;
  }
}


.price__row {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  width: 145px;

  @media (min-width: $desktop-width) {
    width: 158px;
  }
}

.price__row--settings {
  position: relative;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 21px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background: $white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    height: 55px;
  }
}

.price__settings {
  position: relative;
}

.price__svg {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 16px;
  right: 17px;

  @media (min-width: $tablet-width) {
    top: 8px;
    right: 64px;
  }

  @media (min-width: $desktop-width) {
    top: 14px;
    right: 98px;
  }
}

.price__svg--on {
  fill: #3dc644;

  @media (min-width: $tablet-width) {
    top: 9px;
    right: 59px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
    right: 102px;
  }
}

.price__svg--off {
  fill: #f25b26;

  @media (min-width: $tablet-width) {
    right: 61px;
  }

  @media (min-width: $desktop-width) {
    top: 16px;
    right: 102px;
  }
}


.price__settings-name {

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__row--test {
  border: none;
}

.price__bg-triangle {
  position: absolute;
  top: 0;
  right: 0;
}

.price {
  position: relative;
  padding-top: 88px;

  @media (min-width: $desktop-width) {
    padding-top: 157px;
  }
}
