.price-slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-slider__toggle {
  background: 0 0;
  border: 0;
  outline: 0;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #bec2c7;
  padding: 0;
}

.price-slider__toggle--active {
  box-shadow: 0 0 0 3px $dark-blue;
  background-color: transparent;
}

.price__table {
  width: 100%;
  margin: 0 auto;
}

.price__title {
  box-sizing: border-box;
  min-width: 250px;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background: #283645;
  border: 2px solid #e5e5e5;
}

.price__cost {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
