.page-main__intro {
  background-color: $darken-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__info {
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    padding-bottom: 24px;
    padding-top: 60px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
(min-width: 320px) and (min-resolution: 1.5dppx) {
  .page-main__info {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 460px;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
(min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-main__info {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: auto 729px;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi),
(min-width: 960px) and (min-resolution: 1.5dppx) {
  .page-main__info {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: cover;
  }
}

.page-main__description {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 27px;
  color: $white;
  padding: 10px;
  text-align: center;
  width: 100%;
  padding-top: 99px;
  padding-bottom: 85px;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 760px;
    margin: 44px auto 60px;
  }
}

.page-main__features {
  padding-top: 18px;
}

.page-main__analysis {
  padding: 4% 8% 4%;
  box-sizing: border-box;
}

.page-main__contacts {
  background-color: $white;
}

.page-main__price {
  background-color: $dark-white;
}

.page-main__contest {
  @media (min-width: $tablet-width) {
    max-width: 660px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
  }
}
