.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-list__link {
  color: $white;
  text-transform: uppercase;
    background-color: $dark-blue;
  border-top: 1px solid $black;
  border-bottom: 1px solid $light-blue;
    display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  @media (min-width: $desktop-width) {
    border:none;
    background-color: transparent;
  }
}

.site-list__item {
@media (min-width: $desktop-width) {
  padding-left: 50px;
    font-size: 18px;
    padding-right: 5px;
    line-height: 18px;
    font-weight: 300;
}
}
