.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.social-list__svg {
  fill: $light-red;
}

.social-list__item {
  padding: 7px;
  border: 2px solid $light-grey;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}



.page-header--open {
  background-color: #283645;
}
