.submit-poppup {
  position: fixed;
  top: 50%;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 320px;
  background: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.submit-poppup__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;
}
